<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/admin-style.css">
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <div class="dashboard-buttons">
            <button class="login-button"><a href="/admin/upload">Upload File</a></button>
            <button class="login-button"><a href="/admin/logout">Logout</a></button>
            <button class="login-button"><a href="/admin/documents">Manage Uploaded Documents</a></button>
        </div>

    </body>
 </html>