<section class="footer">
  <div>
    <h3>About us</h3><hr>
    <p style="max-width: 400px; margin-left: 100px;">We trade in plastic granules and plastic households products. We are planning to expand with setting up a manufacturing unit at Plot No. F-55, Addl. MIDC Area, Ajanta Road, Jalgaon – 425003, Maharashtra for in-house manufacturing of plastic households products.</p>
  </div>
  <div>
    <h3>LINKS</h3><hr>
    <p><a href="/investors">Disclosures under Regulation 46 of LODR</a></p>
    <p><a href="/public-issue">PUBLIC ISSUE</a></p>
    <p><a href="/annual-reports">ANNUAL REPORTS</a></p>
    <p><a href="/annual-return">ANNUAL RETURN​</a></p>
    <p><a href="/annual-general-meeting-agm">ANNUAL GENERAL MEETING (AGM)​</a></p>
    <p><a href="/shareholding-pattern-2">SHAREHOLDING PATTERN</a></p>
    <p><a href="/committees-of-board-2">Committees of Board</a></p>
    <p><a href="/policies">POLICIES​</a></p>
    <p><a href="/financial-results">Financial Results​</a></p>
    <p><a href="/extra-ordinary-general-meeting">Extra-ordinary General Meeting</a></p>
    <p><a href="/financial-statements-of-subsidiary">Financial Statements of Subsidiary</a></p>
    <p><a href="/board-meeting">Board Meeting​</a></p>
    <p><a href="/newspaper-advertisement">Newspaper Advertisement​</a></p>
    <p><a href="/disclosure-under-regulation-30">Disclosure Under Regulation 30</a></p>
    <p><a href="/others">Others</a></p>
    <p><a href="/moa-aoa">MOA/AOA</a></p>
    <p><a href="/company-secretary-rta-details">Company Secretary & RTA Details</a></p>
    <p><a href="/grievance-redressal-2">GRIEVANCE REDRESSAL​</a></p>
    <p><a href="/statement-of-deviation-2">Statement of Deviation</a></p>
  </div>
  <div>
    <h3>Contact us</h3><hr>
    <i class="fas fa-map-marker-alt"></i>  No. F - 55, Addl. MIDC Area, Ajanta Road, Jalgaon – 425003, Maharashtra <br>
    <i class="fas fa-phone"></i>  +91 96073 12315<br>
    <i class="fas fa-envelope"></i>  info@ronihouseholds.com<br><br>
    <a href="https://www.linkedin.com/in/roni-households-67bbb934a/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/profile.php?id=61572917337730" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/ronihouseholdsltd/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/@RoniHouseholdsLtd" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <footer>
  <p>Copyright &copy; <%= new Date().getFullYear() %>. All rights reserved.</p>
  </footer>
</section>
<script src="/js/main.js"></script>
</body>
</html>
