.hero {
    background-image: url('/images/investors_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 50vh;
}
.pdfs, .annual-reports h1 {
    text-align: left;
    padding: 3rem;
    margin-left: 8rem;
}
