<% const styles = typeof customStyles !== 'undefined' ? customStyles : ['/css/main.css', '/css/about.css']; %>

<%- include('../partials/header', { customStyles: styles }) %>
<main>
  <section class="hero"><h1>About Us</h1></section>
  <section class="description">
    <h4>Company Profile</h4>
    <hr>
    <p>
    We trade in plastic granules and plastic households products. We are planning to expand with setting up a manufacturing unit at Plot No. F-55, Addl. MIDC Area, Ajanta Road, Jalgaon – 425003, Maharashtra for in-house manufacturing of plastic households products.
    </p>
  </section>
  <section class="division">
    <h1>Our Business is divided into two segments</h1>
    <hr>
    <p>We established the Company with an object to strengthen our networking and corporatizing the existing unorganized business. Our vision was to eventually enter into manufacturing in-house plastic households items.</p>
  </section>
  <h2 style="margin-top: 2rem">Our Business Process</h2>
    <hr style="margin-left: 50%">
  <section class="two-columns">
    <div class="left">
        <h3>Trading Business Process</h3>
        <p>The trading business vertical of the company is a B2B model wherein we procure goods from suppliers on cash or credit basis and supply to it to our clients on credit basis. We procure goods on carried out on an “order” basis as well as “demand estimation basis”.</p>
    </div>
    <div class="right">
        <h3>Proposed Manufacturing Process</h3>
        <p>PVC Granuals is fed into the Feeding hopper of Injection Moulding Machine. In the Injection Moulding Machine, PVC Granuals are heated by the heater and is converted into hard solvent. The hard solvent is then injected into moulds wherein products are given desired shapes and are cooled to solidify. Lastly the products are packed and are made ready for sale.</p>
    </div>
  </section>
      <h1>Our team</h1>
  <section class="team-cards">
      <div id="card1">
          <h3>Harish Sirwani</h3>
          <p>Mr. Harish Sirwani, aged 33 years, is the Promoter Director of our Company. He is one of the founding members of our Company. He holds Master Degree in Business Administration from North Maharashtra University, Jalgaon. He has significant industry experience and has been instrumental in the consistent growth of our Company. He is ably supported by our staff and other co-directors.</p>
          <table>
            <tr>
              <th>Sr. No.</th>
              <th>Name of the Company</th>
              <th>Designation</th>
            </tr>
            <tr>
              <td>1</td>
              <td>RONI HOUSEHOLDS LIMITED</td>
              <td>Managing Director</td>
            </tr>
            <tr>
              <td>2</td>
              <td>HS POLYCHEM LIMITED	</td>
              <td>Director</td>
            </tr>
            <tr>
              <td>3</td>
              <td>RONI AGRO LIMITED</td>
              <td>Director</td>
            </tr>
            <tr>
              <td>4</td>
              <td>RV GEMS PRIVATE LIMITED</td>
              <td>Director</td>
            </tr>
          </table>
      </div>
      <div id="card2">
          <h3>Mrs. Nidhi Sirwani</h3>
          <p>Mrs. Nidhi Sirwani, aged 32 years, is the Promoter and Director of our Company. She is one of the founding members of our Company. She is an associate member of The Institute of Chartered Accountants of India. She provides professional guidance to our Company. Our management is ably supported by our staff and other co-directors.</p>
          <table>
            <tr>
              <th>Sr. No.</th>
              <th>Name of the Company</th>
              <th>Designation</th>
            </tr>
            <tr>
              <td>1</td>
              <td>RONI HOUSEHOLDS LIMITED</td>
              <td>Non-executive Director</td>
            </tr>
            <tr>
              <td>2</td>
              <td>HS POLYCHEM LIMITED	</td>
              <td>Director</td>
            </tr>
            <tr>
              <td>3</td>
              <td>RONI AGRO LIMITED</td>
              <td>Director</td>
            </tr>
            <tr>
              <td>4</td>
              <td>RV GEMS PRIVATE LIMITED</td>
              <td>Director</td>
            </tr>
          </table>
      </div>
      <div id="card3">
          <h3>Mr. MANISH GURUMUKHDAS KARERA</h3>
          <p>Mr. Manish Karera, aged 39 years, is Independent Non-Executive Director of our company. He is Masters of Management Studies-Marketing. He has 13 Years of rich experience spanning diverse roles across various markets into vintage business development and sales, Pan India. Profile consists of versatile experiences dealing with multiple personalities across the industry. He provides professional guidance to our Company.</p>
          <table>
            <tr>
              <th>Sr. No.</th>
              <th>Name of the Company</th>
              <th>Designation</th>
            </tr>
            <tr>
              <td>1</td>
              <td>RONI HOUSEHOLDS LIMITED</td>
              <td>Independent Director</td>
            </tr>
            </table>
      </div>
      <div id="card4">
          <h3>Mrs. SHITAL BHAGVAN KHARCHE</h3>
          <p>Ms. Sheetal Kharche, aged 37 years, is Independent Non-Executive Director of our company. She is M.P.M-HR. She provides professional guidance to our Company.</p>
          <table>
            <tr>
              <th>Sr. No.</th>
              <th>Name of the Company</th>
              <th>Designation</th>
            </tr>
            <tr>
              <td>1</td>
              <td>RONI HOUSEHOLDS LIMITED</td>
              <td>Independent Director</td>
            </tr>
            </table>
      </div>
    </section>
</main>

<%- include('../partials/footer') %>
