<%- include('../partials/header', { title: title, customStyles: customStyles }) %>

<section class="hero">
  <h1>Annual Reports</h1>
</section>
<%- include('../partials/document-section', { sectionTitle: 'Annual Reports', files }) %>

<%- include('../partials/footer') %>