<%- include('../partials/header', { customStyles: customStyles }) %>

<section class="hero">
  <h1>Annual Return</h1>
</section>
<%- include('../partials/document-section', { sectionTitle: 'Annual Return', files }) %>

<%- include('../partials/footer') %>