<%- include('../partials/header') %>

<section class="hero">
  <h1>Annual General Meeting AGM</h1>
</section>
<%- include('../partials/document-section', { sectionTitle: 'Annual General Meeting AGM', files }) %>

<%- include('../partials/footer') %>