<%- include('../partials/header', { title: title, customStyles: customStyles }) %>
<section class="hero">
  <h1>Board Meeting</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Board Meeting', files }) %>

<%- include('../partials/footer') %>