<%- include('../partials/header', { title: title, customStyles: customStyles }) %>
<section class="hero">
  <h1>Committees Of Board</h1>
</section>
<h3>Audit Committee:</h3><br>
<table>
  <thead>
    <tr>
      <th>Name of the Member</th>
      <th>Nature of Directorship</th>
      <th>Designation in Committee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mr. Manish Gurumukhdas Karera</td>
      <td>Non Executive Independent Director</td>
      <td>Chairperson</td>
    </tr>
    <tr>
      <td>Mrs. Shital Bhagvan Kharche</td>
      <td>Non Executive Independent Director</td>
      <td>Member</td>
    </tr>
    <tr>
      <td>Mrs. Nidhi Harish Sirwani</td>
      <td>Non-Executive Director</td>
      <td>Member</td>
    </tr>
  </tbody>
</table>
<h3>Nomination and Remuneration Committee:</h3><br>
<table>
  <thead>
    <tr>
      <th>Name of the Member</th>
      <th>Nature of Directorship</th>
      <th>Designation in Committee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mr. Manish Gurumukhdas Karera</td>
      <td>Non Executive Independent Director	</td>
      <td>Chairperson</td>
    </tr>
    <tr>
      <td>Mrs. Shital Bhagvan Kharche</td>
      <td>Non Executive Independent Director	</td>
      <td>Member</td>
    </tr>
    <tr>
      <td>Mrs. Nidhi Harish Sirwani</td>
      <td>Non-Executive Director</td>
      <td>Member</td>
    </tr>
  </tbody>
</table>
<h3>STAKEHOLDER’S GRIEVANCE & RELATIONSHIP COMMITTEE:</h3>
<table>
  <thead>
    <tr>
      <th>Name of the Member</th>
      <th>Nature of Directorship</th>
      <th>Designation in Committee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mr. Manish Gurumukhdas Karera</td>
      <td>Non-Executive Independent Director</td>
      <td>Chairperson</td>
    </tr>
    <tr>
      <td>Mr. Harish Manohar Sirwani</td>
      <td>Chairman & Managing Director</td>
      <td>Member</td>
    </tr>
    <tr>
      <td>Mrs. Nidhi Harish Sirwani</td>
      <td>Non-Executive Director</td>
      <td>Member</td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>