<%- include('../partials/header') %>
<section class="hero">
  <h1>Company Secretary RTA Details</h1>
</section>
<h3 style="padding: 1rem;">Company Secretary and Compliance Officer:</h3>
<p style="margin: 0% 30%;">Pooja bagrecha
Company Secretary and Compliance Officer
Add.: Plot No. F – 55, ADDL.
MIDC Area Ajanta Road,
Jalgaon, Maharashtra, 425003, India.
Email: ronihouseholds@gmail.com
Tel No.: 9766550033</p>
<h3 style="padding: 1rem;">Registrar to the Issue:</h3>
<p style="margin: 0% 30%;">BIGSHARE SERVICES PRIVATE LIMITED
1st Floor, Bharat Tin Works Building
Opp. Vasant Oasis, Makwana Road
Marol, Andheri East, Mumbai – 400 059
Tel No.: +91 22 6263 8200
Fax No.: +91 22 6263 8299
Email: ipo@bigshareonline.com
Website: www.bigshareonline.com
Investor Grievance Email: investor@bigshareonline.com</p>

<%- include('../partials/footer') %>