<%- include('../partials/header', { customStyles: customStyles }) %>
<section class="hero">
  <h1>Disclosure Under Regulation 30</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Disclosure Under Regulaton 30', files }) %>

<%- include('../partials/footer') %>