<%- include('../partials/header', { title: title, customStyles: customStyles }) %>

<section class="hero">
  <h1>Extra Ordinary General Meeting</h1>
</section>
<%- include('../partials/document-section', { sectionTitle: 'Extra Ordinary General Meeting', files }) %>

<%- include('../partials/footer') %>