<%- include('../partials/header') %>
<section class="hero">
  <h1>Financial Results</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Financial Results', files }) %>

<%- include('../partials/footer') %>