<%- include('../partials/header', { title: title, customStyles: customStyles }) %>
<section class="hero">
  <h1>Financial Statements of Subsidiary</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Financial Statements of Subsidiary', files }) %>

<%- include('../partials/footer') %>