<% const styles = typeof customStyles !== 'undefined' ? customStyles : ['/css/main.css', '/css/financial.css']; %>
<%- include('../partials/header', { customStyles: styles }) %>
<section class="hero">
  <h1>Financial Results</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Financial Results', files }) %>

<%- include('../partials/footer') %>