<%- include('../partials/header') %>
<section class="hero">
  <h1>Grievance Redressal</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Grievance Redressal', files }) %>

<%- include('../partials/footer') %>