<% const styles = typeof customStyles !== 'undefined' ? customStyles : ['/css/main.css', '/css/home.css']; %>
<%- include('../partials/header', { customStyles: styles }) %>

<main>
  <section class="hero">
    <h1>Welcome to Roni House Holds Ltd</h1>
    <p>We trade and manufactured in plastic granules and plastic household products.</p>
  </section>

  <section class="company-profile">
    <div><img src="images/roni.png" alt="roni"></div>
    <div>
      <h1>Company Profile</h1><hr>
      <p>We trade in plastic granules and plastic households products. We are planning to expand with setting up a manufacturing unit at Plot No. F-55, Addl. MIDC Area, Ajanta Road, Jalgaon – 425003, Maharashtra for in-house manufacturing of plastic household products.</p>
    </div>
    
  </section>
  <button><a href="/about">More</a></button>
  <section class="products">
    <div id="section-left">
      <img src="images/2.png">
      <h3>Plastic Granules</h3>
      <p>We offer a wide range of plastic granules which are used by various Plastic Industries to manufacture different end products</p>
    </div>
    <div id="section-right">
      <img src="images/1.png">
      <h3>Other Household Plastic Products</h3>
      <p>We also offer plastic households items</p>
    </div>
  </section>
  <button id="view-more"><a href="/products">View More</a></button>
</main>

<%- include('../partials/footer') %>
