<%- include('../partials/header', { title: title, customStyles: customStyles }) %>
<section class="hero">
<h1>MOA/AOA</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'MOA/AOA', files }) %>

<div class="moa">
  <h3>Company Secretary and Compliance Officer:</h3>
  <p>Pooja bagrecha
Company Secretary and Compliance Officer<br>
Add.: Plot No. F - 55, ADDL.
MIDC Area Ajanta Road, Jalgaon,
 Maharashtra, 425003, India.<br>
Email: ronihouseholds@gmail.com<br>
Tel No.: 9766550033</p>
</div>
<div class="moa">
  <h3>Registrar to the Issue:</h3>
  <p>BIGSHARE SERVICES PRIVATE LIMITED
1st Floor, Bharat Tin Works Building
Opp. Vasant Oasis, Makwana Road
Marol, Andheri East, Mumbai - 400 059<br>
Tel No.: +91 22 6263 8200<br>
Fax No.: +91 22 6263 8299<br>
Email: ipo@bigshareonline.com<br>
Website: www.bigshareonline.com<br>
Investor Grievance Email: investor@bigshareonline.com</p>
</div>

<%- include('../partials/footer') %>