<%- include('../partials/header') %>
<section class="hero">
  <h1>Newspaper Advertisement</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Newspaper Advertisement', files }) %>

<%- include('../partials/footer') %>