<%- include('../partials/header', { title: title, customStyles: customStyles }) %>
<section class="hero">
  <h1>Others</h1>
</section>
<%- include('../partials/document-section', { sectionTitle: 'Others', files }) %>

<%- include('../partials/footer') %>