<%- include('../partials/header', { customStyles: customStyles }) %>
<section class="hero">
  <h1>Policies

  </h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Policies', files }) %>

<%- include('../partials/footer') %>