<%- include('../partials/header') %>
<section class="hero">
  <h1>Public Issue</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Public Issue', files }) %>

<%- include('../partials/footer') %>