<%- include('../partials/header', { title: title, customStyles: customStyles }) %>
<section class="hero">
  <h1>Shareholding Pattern</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Shareholding Pattern', files }) %>

<%- include('../partials/footer') %>