<% const styles = typeof customStyles !== 'undefined' ? customStyles : ['/css/main.css', '/css/financial.css']; %>
<%- include('../partials/header', { customStyles: styles }) %>
<section class="hero">
  <h1>Statement of Deviation</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Statement of Deviation', files }) %>

<%- include('../partials/footer') %>