<%- include('../partials/header') %>
<section class="hero">
  <h1>Statement of Deviation</h1>
</section>

<%- include('../partials/document-section', { sectionTitle: 'Statement of Deviation', files }) %>

<%- include('../partials/footer') %>